[submodule "01-hello-world-node-problem"]
	path = 01-hello-world-node-problem
	url = https://github.com/anirudha-8/01-hello-world-node-problem.git
[submodule "02-read-file-node-problem"]
	path = 02-read-file-node-problem
	url = https://github.com/anirudha-8/02-read-file-node-problem.git
[submodule "03-write-file-node-problem"]
	path = 03-write-file-node-problem
	url = https://github.com/anirudha-8/03-write-file-node-problem.git
[submodule "04-basic-http-server-node-problem"]
	path = 04-basic-http-server-node-problem
	url = https://github.com/anirudha-8/04-basic-http-server-node-problem.git
[submodule "05-command-line-argument-node-problem"]
	path = 05-command-line-argument-node-problem
	url = https://github.com/anirudha-8/05-command-line-argument-node-problem.git
[submodule "06-name-of-all-files-in-directory-node-problem"]
	path = 06-name-of-all-files-in-directory-node-problem
	url = https://github.com/anirudha-8/06-name-of-all-files-in-directory-node-problem.git
[submodule "07-simple-calculator-node-problem"]
	path = 07-simple-calculator-node-problem
	url = https://github.com/anirudha-8/07-simple-calculator-node-problem.git
[submodule "08-events-emitter-node-problem"]
	path = 08-events-emitter-node-problem
	url = https://github.com/anirudha-8/08-event-emitter-node-problem.git
[submodule "09-json-file-handling-node-problem"]
	path = 09-json-file-handling-node-problem
	url = https://github.com/anirudha-8/09-json-file-handling-node-problem.git
