[submodule "01-hello-world-node-problem"]
	path = 01-hello-world-node-problem
	url = https://github.com/anirudha-8/01-hello-world-node-problem.git
[submodule "02-read-file-node-problem"]
	path = 02-read-file-node-problem
	url = https://github.com/anirudha-8/02-read-file-node-problem.git
[submodule "03-write-file-node-problem"]
	path = 03-write-file-node-problem
	url = https://github.com/anirudha-8/03-write-file-node-problem.git
[submodule "04-basic-http-server-node-problem"]
	path = 04-basic-http-server-node-problem
	url = https://github.com/anirudha-8/04-basic-http-server-node-problem.git
[submodule "05-command-line-argument-node-problem"]
	path = 05-command-line-argument-node-problem
	url = https://github.com/anirudha-8/05-command-line-argument-node-problem.git
[submodule "06-name-of-all-files-in-directory-node-problem"]
	path = 06-name-of-all-files-in-directory-node-problem
	url = https://github.com/anirudha-8/06-name-of-all-files-in-directory-node-problem.git
[submodule "07-simple-calculator-node-problem"]
	path = 07-simple-calculator-node-problem
	url = https://github.com/anirudha-8/07-simple-calculator-node-problem.git
[submodule "08-events-emitter-node-problem"]
	path = 08-events-emitter-node-problem
	url = https://github.com/anirudha-8/08-event-emitter-node-problem.git
[submodule "09-json-file-handling-node-problem"]
	path = 09-json-file-handling-node-problem
	url = https://github.com/anirudha-8/09-json-file-handling-node-problem.git
[submodule "10-simple-tcp-server-node-problem"]
	path = 10-simple-tcp-server-node-problem
	url = https://github.com/anirudha-8/10-simple-tcp-server-node-problem.git
[submodule "11-simple-express-server-node-problem"]
	path = 11-simple-express-server-node-problem
	url = https://github.com/anirudha-8/11-simple-express-server-node-problem.git
[submodule "12-express-route-parameter-node-problem"]
	path = 12-express-route-parameter-node-problem
	url = https://github.com/anirudha-8/12-express-route-parameter-node-problem.git
[submodule "13-express-query-parameter-node-problem"]
	path = 13-express-query-parameter-node-problem
	url = https://github.com/anirudha-8/13-express-query-parameter-node-problem.git
[submodule "14-serve-static-files-node-problme"]
	path = 14-serve-static-files-node-problme
	url = https://github.com/anirudha-8/14-serve-static-files-node-problme.git
[submodule "15-express-middleware-node-problem"]
	path = 15-express-middleware-node-problem
	url = https://github.com/anirudha-8/15-express-middleware-node-problem.git
[submodule "16-express-form-submit-node-problem"]
	path = 16-express-form-submit-node-problem
	url = https://github.com/anirudha-8/16-express-form-submit-node-problem.git
[submodule "17-express-route-json-respond-node-problem"]
	path = 17-express-route-json-respond-node-problem
	url = https://github.com/anirudha-8/17-express-route-json-respond-node-problem.git
[submodule "18-express-custom-error-handling-node-problem"]
	path = 18-express-custom-error-handling-node-problem
	url = https://github.com/anirudha-8/18-express-custom-error-handling-node-problem.git
[submodule "19-rest-api-crud-operation-node-problem"]
	path = 19-rest-api-crud-operation-node-problem
	url = https://github.com/anirudha-8/19-rest-api-crud-operation-node-problem.git
[submodule "20-template-engine-pug-node-problem"]
	path = 20-template-engine-pug-node-problem
	url = https://github.com/anirudha-8/20-template-engine-pug-node-problem.git
